#index-gallery .gallery-img {
   height: 300px;
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
   cursor: pointer;
   display: block;
   margin: 20px;
}

/* Images */
#index-gallery .img1 {
    background-image: url("../images/thumbs/img1.JPG");
}
#index-gallery .img2 {
    background-image: url("../images/thumbs/img2.JPG");
}
#index-gallery .img3 {
    background-image: url("../images/thumbs/img3.JPG");
}
#index-gallery .img4 {
    background-image: url("../images/thumbs/img4.JPG");
}
#index-gallery .img5 {
    background-image: url("../images/thumbs/img5.JPG");
}
#index-gallery .img6 {
    background-image: url("../images/thumbs/img6.JPG");
}
#index-gallery .img7 {
    background-image: url("../images/thumbs/img7.JPG");
}
#index-gallery .img8 {
    background-image: url("../images/thumbs/img8.JPG");
}
#index-gallery .img9 {
    background-image: url("../images/thumbs/img9.JPG");
}
#index-gallery .img10 {
    background-image: url("../images/thumbs/img10.JPG");
}
#index-gallery .img11 {
    background-image: url("../images/thumbs/img11.JPG");
}
#index-gallery .img12 {
    background-image: url("../images/thumbs/img12.JPG");
}
#index-gallery .img13 {
    background-image: url("../images/thumbs/img13.JPG");
}
#index-gallery .img14 {
    background-image: url("../images/thumbs/img14.JPG");
}
#index-gallery .img15 {
    background-image: url("../images/thumbs/img15.JPG");
}
#index-gallery .img16 {
    background-image: url("../images/thumbs/img16.JPG");
}
#index-gallery .img17 {
    background-image: url("../images/thumbs/img17.JPG");
}
#index-gallery .img18 {
    background-image: url("../images/thumbs/img18.JPG");
}
#index-gallery .img19 {
    background-image: url("../images/thumbs/img19.JPG");
}
#index-gallery .img20 {
    background-image: url("../images/thumbs/img20.JPG");
}
#index-gallery .img21 {
    background-image: url("../images/thumbs/img21.JPG");
}

/* Gallery image titles */
.gallery-img div {
    width: 100%;
    height: 100%;
    background-color: #000000;
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.gallery-img a {
   font-family: 'Caveat', cursive;
   font-size: 18px;
   color: #fff;
   text-decoration: none;
   text-transform: uppercase;
}

.gallery-img div:hover {
    opacity: 0.8;
    transition: all ease-in-out;
}

body {
    background-image: url('../images/background.JPG');
    width: 100%;
    height: 100%;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Caveat', cursive;
    font-size: 20px;
}

.button {
    background-color: #25384f;
    color: #fff;
    padding:10px 15px;
    border: none;
}

.button:hover {
    background-color: #25384f;
    opacity: .5;
}

.dropbtn {
    background-color: #25384f;
    color: #fff;
    border: none;
    cursor: pointer;
    font-family: 'Caveat', cursive;
    font-size: 20px;
}

.dropbtn:hover {
    background-color: #25384f;
    opacity: .5;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #25384f;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: #fff;
    padding: 10px 15px;
    text-decoration: none;
    display: block;
}

.dropdown a:hover {
    background-color:  #25384f;
    opacity: .5;
}

.show {display: block;}

#main-header {
    background-image: url('../images/header.JPG') ;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    width: 100%;
    height: 100%;
    color: #ffff;
    min-height: 200px;
    font-family: 'Amatic SC', cursive;
    font-size: 40px;
    text-align: center;
    text-shadow: 2px 2px black;   
}

#navbar {
    background-color: #25384f;
    color: #fff;
    margin-bottom: 20px;
}

#navbar ul {
    color: none;
}

#navbar li {
    display: inline-flex;
}


#navbar a {
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    padding-right: 15px;
}


#footer {
    background-color: #25384f;
    color: #fff;
    margin-top: 20px;
    bottom: 0;
    position: static;
}

/* Popup window when clicked */
.img-window {
    width: 100vw;
    height: 100vw;
    background-color: rgba(0, 0, 0, 0.8);
    position: fixed;
    top: 0;
    left: 0;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
}

.img-window img {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 90%;
}

/*  Next image styling*/
.img-btn-next {
    display: block;
    padding: 6px 10px;
    border-radius: 4px;
    background-color: #111111;
    position: fixed;
    top: 20vw;
    z-index: 500;
    font-family: 'Caveat', cursive;
    color: #fff;
    cursor: pointer;
    text-decoration: none;
}

.img-btn-next:hover {
    opacity: 0.8;
}

.img-btn-prev {
    display: block;
    padding: 6px 10px;
    border-radius: 4px;
    background-color: #111111;
    position: fixed;
    top: 20vw;
    z-index: 500;
    font-family: 'Caveat', cursive;
    color: #fff;
    cursor: pointer;
    text-decoration: none;
}

.img-btn-prev:hover {
    opacity: 0.8;
}